body {
    background-color: #0390AE;
    font-family: arial, sans-serif;
    height: 100%;
    line-height: 0;
}

.container {
    margin: 100px auto;
    width: 600px;
}

#oscilloscope {
    background-color: mediumvioletred;
    border: 1px solid black;
    border-bottom: 0;
}

#keyboard {
    height: 150px;
    width: 100%;
}
